<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -HOSPITAL</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospitalWebMGT.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  navbar-dark bg-primary border-bottom box-shadow mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HOSPITAL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between box-shadow mb-3">

                    <ul class="nav nav-tabs nav-pills nav-fill p-1 small bg-primary  shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">

                       
                        <li class="nav-item" role="presentation">
                            <button class="mb-0 h4 nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true"> <a class="nav-link text-white" asp-area="admin" asp-controller="Hospitals" asp-action="Index">Hospital</a></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"> <a class="nav-link text-white" asp-area="admin" asp-controller="Rooms" asp-action="Index">Rooms</a></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"><a class="nav-link text-white" asp-area="admin" asp-controller="Contacts" asp-action="Index">Contacts</a></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"><a class="nav-link text-white" asp-area="admin" asp-controller="Users" asp-action="Index">Users</a></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"><a class="nav-link text-white" asp-area="admin" asp-controller="Users" asp-action="AllDoctors">Doctors</a></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"> <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/DoctorRegister">Doctor Registration</a></button>
                        </li>                     
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"> <a id="manage" class="nav-link text-white" asp-area="Doctor" asp-controller="Doctors" asp-action="AddTiming">DoctorTiming</a></button>
                        </li>
                    </ul>
                    <partial name="_LoginPartial">
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4 navbar-dark bg-primary">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left" style="background-color:lightblue">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">Hospital Details</h5>
                    <p>Make sure add correct content that catch you easly and make appointment.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Description</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a class="navbar-dark" asp-area="" asp-controller="Home" asp-action="Index">Department of Hospital</a>
                        </li>
                        <li>
                            <a class="navbar-dark" asp-area="" asp-controller="Home" asp-action="Description">Inpatient Service</a>
                        </li>
                        <li>
                            <a class="navbar-dark" asp-area="" asp-controller="Home" asp-action="Description1">Operation Theatre Complex</a>
                        </li>
                        <li>
                            <a class="navbar-dark" asp-area="" asp-controller="Home" asp-action="Description2">Non-Professional Services</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">About</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a class="navbar-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                        <li>
                            <a class="navbar-dark" asp-area="" asp-controller="Home" asp-action="AddLocation">Add Location</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-white">
            © 2020 Copyright:
        </div>
        <!-- Copyright -->

    </footer>
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
