@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="Heading">Contact Us</h1>
<br />
<h3>Map : Pakistan</h3>
<br />
<h4> Dera Ismail Khan, KPK, Street No 4 Diyal Road.</h4>

<br />
 info@maps.ie
<br />
We aim to respond to all emails within 48 hours.

