
@{
    ViewData["Title"] = "Description1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="Heading" class="text-center">Operation Theatre Complex (OT)</h1>

<p>
    This consists of one or more operation theatres and other facilities. OT complex must be located in a place where there is easy and quick access to the delivery suite. These should be four zone – outer zone, clean zone, sterile zone, disposal zone. There should be a sterilization room with an autoclave. The number of OT depends on many factors. There should be an arrangement for good lighting and ventilation.

    Delivery suite is the place where births take place. The delivery suite is divided into three zones are first stage room, second stage room, delivery room. The room should have good lighting and ventilation. It should have adequate number of staff.

</p>



<p>
    <h5>Pharmacy Department</h5>
    Pharmacy is a crucial factor in medical factor. It should be planned and organized well. 
    The pharmacy department has the responsibility for selecting purchasing, compounding,
    storing and dispensing all drugs and medications. The pharmacy should be under the supervision of a registered pharmacist.
</p>


<p>
    <h5>Radiology Department (X-ray Department)</h5>
    The department must be located in a place where there is easy accessibility for OP and IP clients. Of the total space, the distribution for various rooms is as follows:

    X-ray rooms: 25%

    Film processing: 10%

    Administration: 30%

    Waiting area: 5%

    Circulation area: 30%

    Sufficient number of staff should be available. Staff must be protected against radiation hazards. This department has the following services.

    Radiographic examinations and their interpretations

    X-ray, radium, radioactive cobalt and other radioactive therapy

    Ultrasonography, Echocardiogram, C.T. Scan, MRI and ECG.


    <h5>Dietary Department</h5>
  

    The dietary department has the responsibility for the food service to the client according to their needs and doctor’s prescription. This department is responsible for the health teaching in regard to proper diet of the client upon their discharge from the hospital.
</p>





