
@{
    ViewData["Title"] = "Description";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="Heading" class="text-center">Inpatient Service (IP)</h1>

<p>

If OPD is the show window of the hospital, the IP is the heart of the hospital. The IP service provides lodging, diet and medical care. Conveniently, it can be divided into:

Wards and rooms

Nurses station

Dietary services

Sanitary facilities and other requirements

     Ward can be

     Intensive Care Wards (ICU)

     Intermediate Care Wards

     Isolation Wards

</p>

 <p>
    <h5>Medical Department</h5>

    The medical department has within it the various clinical services. They are: medicine, surgery, gynaecology, obstetrics, paediatrics, eye, ENT, dental, orthopaedics, neurology, cardiology, psychiatry, skin, V.D., plastic surgery, nuclear medicine, infectious disease etc. medical superintendent is a doctor who has control over all medical department.

    <h5>Nursing Department</h5>

    The nursing department is the organizational structure through which nurses provide nursing care for clients under the jurisdiction of the institution. The nursing department consists of nursing service and nursing education. The primary purpose of the nursing service is to provide comprehensive, safe, effective and well-organized nursing care through the personnel of the department. The personnel consists of nursing superintendent, assistant nursing superintendents, head nurses and staff nurses. All of these are registered nurses, other personnel who function in the nursing service department may include the auxiliary personnel nurse aids and domestics who handle the non-nursing services.

    The nursing education section has the responsibility of preparing nursing students to become professional nurses. Uplifting the standard of nursing by inservice education and refresher courses etc., are included in the functions of this department. The personnel consists of principal or director of nursing education, the associate professors, assistant professors, tutors and clinical instructors.
 </p>





 <p>
    <h5>Paramedical Departments</h5>
    Paramedical departments are adjunctive to the practice of medicine in the maintenance or restoration of health and normal functioning. They include:
 </p>



 <p>
    <h4>Pathology Department</h4>
    The following laboratories are usually found in the pathology department:

    1. Bacteriology laboratory: This laboratory studies about the bacteria and their toxins.


    2. Biochemistry : this is concerned with the chemistry of living organisms and of vital process.


    3. Haematology laboratory : it is responsible for making haemoglobin determinations, coagulation time studies, red and white cell counts and special blood pathology studies for anaemia and leukaemia etc.


    4. Parasitology laboratory: it studies the presence of parasites, the cyst and ovas of the parasites that are found in the faeces.


    5. Serology laboratory: it does blood agglutination tests, Wassermann tests, V.D.R.L. etc.


    6. Blood bank: it has the responsibility for collecting and processing all blood used in the hospital for transfusions. It makes studies on newborn infants who may have haemolytic diseases and does antibody studies on the prenatal client.


    7. Histopathology department: it prepares tissues for gross and microscopic studies.

    Laboratory services (LAB) must be available day and night. Must be located on the ground floor and should be easily accessible to the outpatients. Space requirement of Lab is:

    Primary space: Required for technical work.

    Secondary space: space utilized for administrative purpose.

    Circulation space: for unchattered movement of personnel and equipment.

    There should be sufficient staff and work arrangement for the efficient functioning of the department.
 </p>



 <p>
    <h5>Physical Medicine and Rehabilitation Department</h5>
    This department deals with clients who have functional disabilities resulting from disease conditions/injuries.
    This department can have physiotherapy, occupational therapy, speech therapy and vocational training. 
    This department will be under the direction of a well – qualified physician who has special training in the field of physical medicine and rehabilitation.
    His staff should include therapists with qualification in the various specialties.
 </p>

 





