
@{
    ViewData["Title"] = "Description2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="Heading" class="text-center">Non-Professional Services</h1>

<p>
    <h5>Admitting Department</h5>
    

    The admitting department has the responsibility for admitting the client to the hospital. The importance of this department lies in the public relation that is maintained.

    The client, his family and his friends must be treated with utmost respect, courtesy and tact. The enquiries made about the hospital and other clients are to be answered appropriately.

    Administration

    The administration of the entire hospital cannot be vested on the administrator alone. It is a collective responsibility of a group of people. The administrative staff, depending upon the size of the hospital, is composed of the administrator, the assistant administrator, the business manager and the departmental heads.

    <h5>Purchasing Department</h5>

    

    The purchasing department has the responsibility for purchasing all supplies and equipments for the hospital.

    Accounts (Business Office)

    This department has the responsibility for collecting the money which is owed to the hospital, paying for the supplies and equipment, handling all records pertaining to hospital finance, keeping records of assets and liabilities and assisting with budget. The business manager is responsible for the functions of the department. The accountants help him.

    Housekeeping

    The housekeeping department has one main function – to keep the hospital clean.

    Laundry

    The laundry takes care of the entire team linen of the hospital. It has the following functions:

    Washing the dirty linen

    Repairing the torn linen

    Replacing the condemned linen



    Mechanical Department

    Electricity, water supply, heat, air-conditioning etc., are looked after by the mechanical department.

    Maintenance Department

    The maintenance department keeps the hospital in a good state of repair. Carpenters, painters, welders, gardeners etc., are included in the personnel of this department.

    Central Supply Department

    The purpose of the central supply department is to prepare and furnish other departments with equipment and supplies needed in the client care e.g. syringes, needles, treatment trays.

    Social Service

    The social service department assists in obtaining financial aid for clients and their families. This department services also as a liaison between the client and community agencies.

    Pastoral Care

    Under the leadership of the chaplain, the pastoral care team meets the spiritual needs of the client.

    Some departments function as a part of other departments already mentioned, e.g., the operating room functions as part of the department of surgery. The outpatient department is a combination of several departments. The emergency room functions along with the department of medicine. Sometimes according to the load of client care, the services may be given in special department such as intensive care, immediate care, and ambulatory care units.

    Hospital Waste Management

    It is newly set department which takes care of the disposal of the entire waste both solid and liquid.

    <h5>Central Sterile Supply Department (CSSD)</h5>

    This is important department which supplies sterile articles throughout the hospital. CSSD handles contaminated, clean and sterile articles.

    Work flow in CSSD: Receiving – Washing – Drying – Accounting – Sorting – Packing – Sterilization – Sterile storage – Issue. The articles should move in one direction from receipt to issue. The location should be such that the wards and departments can have easy access.

    <h5>

    Medical Record Department (MRD)
    </h5>

    This is an integral part of every modern hospital. The guiding principle is “people forget, records remember.” Functionally the MRD is divided into (1) Reception (2) Medical Records Library (3) Statistical Section.

    Weeding out of clients file, is done in successive years.

    OP Records: 5 years.

    IP Records: 10 years.

    Medicolegal Records: 15 years.

    Now with computerization the files can be entered into the computer and can be utilized when required.

    Every health care facility should have arrangement for handling medicolegal cases. The hospital administration, as well as the doctors, nurses and other staff members should be made aware of the legal implications involved in the client’s care, so that lot of problems can be avoided.

    <h5>
    Personnel Department
    </h5>

    This department in the hospital must be well versed with law of the land especially the labour laws and is responsible for recruitment, selection, promotion, transfer, termination etc. The personnel department functions under the personnel officer who is qualified in the personnel administration. The personnel department has the following functions, directed to the welfare of the personnel.

    Recruitment of personnel

    Interviewing prospective employees

    Promotion and transfer of employees

    Termination of employment

    Inservice training programme

    Remuneration and incentives

    Safety

    Health programme

    Recreation


    <h5>
    ORGANIZATION
    </h5>

    Organization of each hospital varies according to the ownership and administration. The governing body of the hospital which is usually called board of trustees is responsible for the policies of the institution. Under the governing body there is a head of the hospital, who is administrator or director.

    It is impossible for the administration to carry out the total work involved in the hospital management. Therefore, the responsibility is delegated to the departmental heads who are specialists in their field.
</p>


