
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="Heading" class="text-center">Departments in Hospital</h1>

<p>
    There are several departments are found in hospitals namely Outpatient department (OPD),
    Inpatient Service (IP), Medical Department, Nursing Department, Paramedical Department,
    Physical Medicine and Rehabilitation Department, Operation Theatre Complex (OT), Pharmacy Department, 
    Radiology Department (X-ray), Dietary Department, Non-professional Services (Business Management),
    Medical Record Department (MRD) and Personnel Department.
</p>

<p>
  <h4>Outpatient Department (OPD)</h4>
 
Most hospitals now have an OPD. The advantage of OPD is that much of the investigative unit and curative work can be done there without admitting the client, thus curtailing medical expenses. 



The scope of OPD includes the following:

1. Consultation, investigation, procedures, specialty services.

2. Preventive and promotive health care: Clinics, which include: diabetic, antenatal, postnasal and under five.

3. Rehabilitation services (physiotherapy, occupational therapy etc)

​

4. Health education

5. Counseling 
</p>

<p>
 <h4>LOCATION</h4>

1. OPD should be located at the entrance of the hospital

2. Should be separate from inpatient area connected to it

3. Must have easy access to MRD, X-ray, laboratory, pharmacy and billing counter

4. Preferably accessible to causality, but separated from casualty

<h4>FACILITIES</h4>

The OPD should have the following facilities:

1. Entrance-easily accessible with ramp, steps and wide door.


2. Flooring-tiled with a slope towards outlet


3. Reception/enquiry


4. Waiting hall


5. Consulting rooms


6. Signboards and layout plan


7. Bay for trolleys and wheelchairs


8. Toilet-separate for males and females


9. Public telephone


10. Board indicating names of consultants on leave

<h5>Types of Clients in OPD</h5>

Emergency cases

Referred cases from doctors outside and in-house

Direct OP cases

OPD is the first point of contact in the hospital and so the best impression should be given.

<h5>Flow Pattern of Clients in OPD</h5>

Enquiry – Registration – Waiting Hall – Consultation room – Investigation facilities – Pharmacy – Exit

<h5>Usual Problems in OPD</h5>

Lack of punctuality in starting OPD

Lack of appointment system

Missing files

Non-availability of laboratory results

Lack of physical facilities

Proper co-ordination under expert supervision and guidance can go a long way to solve these problems.
</p>
